.banner_background {
  width: 100%;
  height: 200px;
  background-color: var(--primary);
  background: linear-gradient(45deg, var(--primary), var(--primaryhover));
  margin-bottom: 40px;
  object-fit: cover;
}
.banner__profile {
  height: 150px;
  border-radius: 50%;
  position: absolute;
  bottom: -35%;
  left: 30px;
  background-color: var(--white);
  padding: 5px;
}

.cont {
  padding: 10px 25px 0 25px;
  border-bottom: solid 1px var(--exlightgray);
}
.cont__details {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: center;
}
.details__text {
  margin: 10px 0;
  margin-right: 15px;
}
.details__svg {
  margin-right: 3px;
}
