.cont {
  display: flex;
  align-items: center;
}
.side {
  height: 100vh;
  min-width: 50vw;
  background-color: #1e2127;
  display: flex;
  justify-content: center;
  align-items: center;
}
.side__logo {
  border-radius: 50%;
  animation: spin 12s infinite linear;
}

.main {
  width: calc(100% - 60px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
  text-align: center;
}

.btn__svg {
  fill: white;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media only screen and (max-width: 700px) {
  .cont {
    flex-direction: column-reverse;
  }
  .side {
    height: 300px;
    width: 100vw;
  }
  .main {
    height: calc(100vh - 300px);
    min-height: 280px;
  }
}
