.side {
  height: 100vh;
  min-width: 50vw;
  background-color: #1e2127;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logoRow,
.flexRow {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.center {
  width: calc(100% - 60px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
  text-align: center;
}

.logo {
  border-radius: 50%;
  animation: spin 12s infinite linear;
}
.white {
  fill: white;
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media only screen and (max-width: 700px) {
  .logoRow {
    flex-direction: column-reverse;
  }
  .side {
    height: 300px;
    width: 100vw;
  }
  .center {
    height: calc(100vh - 300px);
  }
}
