.row {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.row__company {
  margin-left: 8px;
  font-size: 90%;
}
.row__event {
  margin-top: 5px;
}
.row__date {
  white-space: nowrap;
}
