.searchCont {
  position: relative;
  margin-bottom: 30px;
}
.input {
  border: none;
  padding: 13px;
  border-radius: 55px;
  background-color: var(--exlightgray);
  width: 100%;
  padding-left: 45px;
}
.searchSVG {
  position: absolute;
  top: 10px;
  left: 15px;
  z-index: 1;
  fill: var(--black);
}
