.header {
  background-color: white;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}
.avatar {
  height: 60px;
  border-radius: 50%;
}
