.container {
  display: grid;
  display: grid;
  grid-template-columns: 1fr 10fr 1fr;
  gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}
.left {
  border-right: solid 1px var(--exlightgray);
  height: 100vh;
  display: flex;
  justify-content: center;
  padding: 10px;
}
.right {
  border-left: solid 1px var(--exlightgray);
  height: 100vh;
  padding: 10px;
}
