.container {
  display: grid;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
}
.left {
  border-right: solid 1px var(--exlightgray);
  height: 100vh;
  display: flex;
  justify-content: center;
  padding: 10px;
}
.right {
  border-left: solid 1px var(--exlightgray);
  height: 100vh;
  padding: 10px;
}
