.cont {
  display: grid;
  display: grid;
  grid-template-columns: 20% 60% 20%;
}
.cont__left {
  border-right: solid 1px var(--exlightgray);
  padding-left: 20px;
  min-height: 100vh;
  width: 100%;
  padding: 0 20px;
}
.left__inner {
  position: fixed;
  top: 20px;
  height: 100%;
  overflow: auto;
  z-index: 1;
}
.cont__right {
  border-left: solid 1px var(--exlightgray);
  padding-left: 20px;
  min-height: 100vh;
  position: relative;
  z-index: 2;
}
.right__inner {
  position: fixed;
  top: 20px;
  height: 100%;
  overflow: auto;
  z-index: 1;
}
