.cont {
  background-color: var(--white);
}

.link {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 12px;
  border-radius: 99999px;
  width: auto;
  flex-shrink: 0;
  flex-grow: 0;
  width: fit-content;
  cursor: pointer;
}
.link:hover {
  background-color: var(--exlightgray);
}
.link__text {
  font-weight: 400;
  margin: 0 10px;
}
.link--selected > h3 {
  font-weight: 700;
}
.link--selected > svg {
  font-weight: 600;
  stroke-width: 0.7px;
  stroke: #000000;
  fill: black;
}

@media only screen and (max-width: 1300px) {
  .link__text {
    display: none;
  }
}

@media only screen and (max-width: 500px) {
  .cont {
    background-color: var(--white);
    position: fixed;
    left: 0;
    top: unset;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
  }
}
